<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/games"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'GAMES.EDIT.EDIT_GAME' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="gameForm" (ngSubmit)="updateGame()" *ngIf="gameForm">
    <ion-list class="ion-padding" lines="none">
      <ion-item>
        <ion-label position="floating">{{ 'GAMES.EDIT.NAME_OF_GAME' | translate }} *</ion-label>
        <ion-input
          type="text"
          labelPlacement="floating"
          [placeholder]="currentLanguage === 'hu' ? 'Add meg a játék nevét' : 'Enter a game name'"
          formControlName="name"
        ></ion-input>
      </ion-item>
      <ion-item
        *ngIf="(!gameForm.get('name').valid && gameForm.get('name').touched)"
        lines="none"
      >
        <ion-label color="danger">
          {{ 'GAMES.EDIT.NAME_IS_REQUIRED' | translate }}
        </ion-label>
      </ion-item>
      <ion-item *ngIf="categories">
        <ion-select formControlName="category"
          [placeholder]="currentLanguage === 'hu' ? 'Válassz kategóriát' : 'Select a category'">
          <div slot="label">{{ 'GAMES.EDIT.CATEGORY' | translate }} *</div>
          <ng-container *ngFor="let category of categories">
            <ion-select-option [value]="category.name">{{ category.name }}</ion-select-option>
          </ng-container>
          <ion-select-option [value]="'otherCategory'">{{ 'GAMES.EDIT.OTHER_CATEGORY' | translate }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="gameForm.get('category').value === 'otherCategory'">
        <ion-label position="floating">{{ 'GAMES.EDIT.NEW_CATEGORY' | translate }}</ion-label>
        <ion-input
          type="text"
          labelPlacement="floating"
          [placeholder]="currentLanguage === 'hu' ? 'Adj meg egy új kategóriát' : 'Enter a new category'"
          formControlName="newCategory"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-align-items-center" lines="none">
        <ion-label class="ion-text-center">
          {{ 'GAMES.EDIT.WANT_SHARE' | translate }}
        </ion-label>
      </ion-item>
      <div class="ion-segment-container">
        <ion-segment color="primary" (ionChange)="setPublic($event)" value="true">
          <ion-segment-button [value]="true">
            <ion-label>{{ 'GAMES.EDIT.PUBLIC' | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button [value]="false">
            <ion-label>{{ 'GAMES.EDIT.PRIVATE' | translate }}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>
      <ng-container *ngIf="(game.locationType === LocationType.description) ||
      (game.locationType === LocationType.location)">
        <ion-item [button]="true" [detail]="false" (click)="selectCountry()">
          <ion-label>{{ 'GAMES.EDIT.COUNTRY' | translate }}</ion-label>
          <div slot="end">{{ selectedCountry }}</div>
        </ion-item>
        <app-location-picker
          *ngIf="gameForm.get('pointOfDeparture').value; else noLocationYet"
          [location]="gameForm.get('pointOfDeparture').value"
          (pickLocation)="onLocationPicked($event)"></app-location-picker>
        <ng-template #noLocationYet>
          <app-location-picker (pickLocation)="onLocationPicked($event)"></app-location-picker>
        </ng-template>
      </ng-container>
      <ion-item>
        <ion-textarea [label]="currentLanguage === 'hu' ? 'Leírás *' : 'Description *'"
                      labelPlacement="floating"
                      formControlName="description"
                      [placeholder]="currentLanguage === 'hu'
                      ? 'Adj meg egy leírást. Kinek ajánlanád a játékot?'
                      : 'Give a description of the game. Who would you recommend it to?'"></ion-textarea>
      </ion-item>
      <ion-item
        *ngIf="(!gameForm.get('description').valid && gameForm.get('description').touched)"
        lines="none"
      >
        <ion-label color="danger">
          {{ 'GAMES.EDIT.DESCRIPTION_REQUIRED' | translate }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'GAMES.EDIT.DISTANCE' | translate }} *</ion-label>
        <ion-input
          type="number"
          labelPlacement="floating"
          [placeholder]="currentLanguage === 'hu'
          ? 'Add meg, hogy körülbelül milyen hosszú a játék kilométerben.'
          : 'Enter approximately how long the game is in km.'"
          formControlName="distance"
        ></ion-input>
      </ion-item>
      <ion-item
        *ngIf="(!gameForm.get('distance').valid && gameForm.get('distance').touched)"
        lines="none"
      >
        <ion-label color="danger">
          {{ 'GAMES.EDIT.DISTANCE_REQUIRED' | translate }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'GAMES.EDIT.DURATION' | translate }} *</ion-label>
        <ion-input
          type="number"
          labelPlacement="floating"
          [placeholder]="currentLanguage === 'hu'
          ? 'Add meg, hogy körülbelül mennyi a játék időtartama órában.'
          : 'Enter the approximate length of the game in hours.'"
          formControlName="duration"
        ></ion-input>
      </ion-item>
      <ion-item
        *ngIf="(!gameForm.get('duration').valid && gameForm.get('duration').touched)"
        lines="none"
      >
        <ion-label color="danger">
          {{ 'GAMES.EDIT.DURATION_REQUIRED' | translate }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-center">
          {{ 'GAMES.EDIT.PICK_IMAGE' | translate }}
        </ion-label>
      </ion-item>
      <app-image-picker (imagePick)="onImagePick($event, 'image')"
                        [showPreview]="game && !!game.imgUrl"
                        [previewImage]="game.imgUrl"></app-image-picker>
      <ng-container *ngIf="game.locationType === LocationType.description">
        <ion-item>
          <ion-label class="ion-text-center">
            {{ 'GAMES.EDIT.PICK_MAP_IMAGE' | translate }}
          </ion-label>
        </ion-item>
        <app-image-picker (imagePick)="onImagePick($event, 'map')"
                          [showPreview]="game && !!game.mapUrl"
                          [previewImage]="game.mapUrl"></app-image-picker>
      </ng-container>
    </ion-list>
    <ion-button
      class="ion-text-center ion-justify-content-center align-center"
      color="primary"
      (click)="openCheckpointsEditor()">
      {{ 'GAMES.EDIT.EDIT_CHECKPOINTS' | translate }}
    </ion-button>
    <ion-button
      class="ion-text-center ion-justify-content-center"
      type="submit"
      color="primary"
      expand="full"
      [disabled]="!gameForm.valid">
      {{ 'GAMES.EDIT.SAVE_THE_GAME' | translate }}
    </ion-button>
  </form>
</ion-content>
