<ion-content [ngSwitch]="status" class="ion-no-padding ion-align-items-center ion-text-center">
  <ion-grid class="ion-no-padding ion-no-margin full-fill ion-align-items-center">
    <ion-row class="ion-align-items-center full-fill">
      <ion-col class="ion-align-items-center">
        <ion-grid class="ion-no-padding ion-no-margin ion-align-items-center ion-text-center full-fill">
          <ion-row>
            <ion-col size-xs="8" offset-xs="2" size-sm="6" offset-sm="3" size-md="4" offset-md="4">
              <ion-img [src]="'assets/logo.png'" alt="Logo" [ngClass]="status === AuthStatus.modeSelection ? 'logo-img-big-botton-padding' : 'logo-img-height'"></ion-img>
            </ion-col>
          </ion-row>
          <ng-container *ngSwitchCase="AuthStatus.modeSelection">
            <ion-row class="ion-no-padding ion-no-margin">
              <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3">
                <ion-button
                  class="modeSelectionButtons"
                  color="primary"
                  expand="full"
                  (click)="updateStatus(AuthStatus.login)">
                  Login
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-padding ion-no-margin">
              <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3">
                <ion-button
                  class="modeSelectionButtons"
                  color="primary"
                  expand="full"
                  (click)="logInAsAGuest()">
                  Login as a guest
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-padding ion-no-margin">
              <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3" class="big-bottom-padding">
                <ion-button
                  class="modeSelectionButtons"
                  color="primary"
                  expand="full"
                  (click)="updateStatus(AuthStatus.signup)">
                  Sign up
                </ion-button>
              </ion-col>
            </ion-row>
          </ng-container>
          <ion-row *ngSwitchCase="AuthStatus.login">
            <ion-col size-sm="6" offset-sm="3">
              <app-login></app-login>
            </ion-col>
          </ion-row>
          <ion-row *ngSwitchCase="AuthStatus.login">
            <ion-col size-sm="6" offset-sm="3">
              <ion-item class="ion-text-center" lines="none">
                <ion-label class="custom-margin-for-label">Don't have an account yet?</ion-label>
              </ion-item>
              <ion-button
                class="ion-no-margin"
                color="primary"
                (click)="updateStatus(AuthStatus.signup)">
                Switch to signup
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row *ngSwitchCase="AuthStatus.signup">
            <ion-col size-sm="6" offset-sm="3">
              <app-signup (switchToLogIn)="updateStatus(AuthStatus.login)"></app-signup>
            </ion-col>
          </ion-row>
          <ion-row *ngSwitchCase="AuthStatus.signup">
            <ion-col size-sm="6" offset-sm="3">
              <ion-item class="ion-text-center" lines="none">
                <ion-label class="custom-margin-for-label">Already have an account?</ion-label>
              </ion-item>
              <ion-button
                class="ion-no-margin"
                color="primary"
                (click)="updateStatus(AuthStatus.login)">
                Switch to login
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row *ngSwitchCase="AuthStatus.signup" class="ion-margin">
            <ion-col size-sm="6" offset-sm="3">
              <ion-button
                class="ion-no-margin"
                color="primary"
                (click)="updateStatus(AuthStatus.modeSelection)">
                Back
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row *ngSwitchCase="AuthStatus.login" class="ion-margin">
            <ion-col size-sm="6" offset-sm="3">
              <ion-button
                class="ion-no-margin"
                color="primary"
                (click)="updateStatus(AuthStatus.modeSelection)">
                Back
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row *ngSwitchCase="AuthStatus.loggedIn" class="ion-margin">
            <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
              <ion-button
                class="ion-no-margin"
                color="primary"
                (click)="logout()">
                Log out
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

