ion-toolbar {
  --background: white;
  --color: black;
  ion-icon {
    --color: black;
  }
}


.logo-img-big-botton-padding {
  padding: 5% 0 20% 0;
}

.big-bottom-padding {
  padding: 0 0 20% 0;
}

.logo-img-height {
  height: 6rem;
  margin-top: 1rem;
}
