<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Events</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFiltering()">
        <ion-icon name="options"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleSorting()">
        <ion-icon name="swap-vertical"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="filter" ngDefaultControl animated="true" placeholder="Search"></ion-searchbar>
  <ion-grid size="10" *ngIf="actualEvents && sortingMode">
    <ion-row class="ion-align-items-center">
      <ion-col size="12">
        <ion-item>
          <ion-select placeholder="Select a sorting mode" (ionChange)="sortEventsEvent($event)">
            <div slot="label">Sorting *</div>
            <ion-select-option [value]="SortingMode.byCreationDate">By creation date
            </ion-select-option>
            <ion-select-option [value]="SortingMode.byGameName">By game name
            </ion-select-option>
            <ion-select-option [value]="SortingMode.byPopularity">By popularity
            </ion-select-option>
          </ion-select>
          <ion-buttons slot="end">
            <ion-button slot="icon-only" [disabled]="!descending" (click)=toggleDescending()>
              <ion-icon name="arrow-down-outline" class="black"></ion-icon>
            </ion-button>
            <ion-button slot="icon-only" [disabled]="descending" (click)=toggleDescending()>
              <ion-icon name="arrow-up-outline" class="black"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid size="10" *ngIf="actualEvents && filteringMode">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-justify-content-center">
        <ion-button fill="outline" color="secondary" (click)="startFilter(FilteringMode.byCategories)">Categories</ion-button>
        <ion-button fill="outline" color="secondary" (click)="startFilter(FilteringMode.byCountries)">Countries</ion-button>
        <ion-button fill="outline" color="secondary" (click)="startFilter(FilteringMode.byTypes)">Types</ion-button>
        <ion-button fill="outline" color="secondary" (click)="startFilter(FilteringMode.byFavourites)" [disabled]="user === null">Favourites</ion-button>
        <ion-button fill="outline" color="secondary" (click)="startFilter(FilteringMode.bySaved)" [disabled]="user === null">Saved</ion-button>
        <ion-button fill="outline" color="secondary" (click)="startFilter(FilteringMode.byOwnCountry)" [disabled]="user === null">My country</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center" *ngIf=" filters.length > 0">
      <ion-col size="12" class="filter-group ion-justify-content-center">
        <ion-chip *ngFor="let item of filters">
          <ion-label>{{ item }}</ion-label>
          <ion-icon (click)="deleteFilter(item)" name="close"></ion-icon>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid size="10" *ngIf="!actualEvents || actualEvents.length === 0 || isLoading">
    <ion-row class="ion-align-items-center">
      <ion-col size="12">
        <div *ngIf="!actualEvents || actualEvents.length === 0" class="ion-text-center">
          <p>There are no events right know.</p>
        </div>
        <div *ngIf="isLoading" class="ion-text-center">
          <ion-spinner name="lines-sharp" color="secondary" *ngIf="isLoading"></ion-spinner>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid size="10" *ngIf="actualEvents.length > 0 && !isLoading">
    <ion-row class="ion-align-items-center">
      <ion-col size-xs="12" size-md="6"
               class="ion-align-items-center"
               *ngFor="let event of actualEvents | filter:filter">
        <ion-card class="dark-card">
          <div class="background-image-container">
            <ion-img [src]="event.event.imgUrl" class="background-image"></ion-img>
          </div>
          <ion-card-header class="ion-no-padding">
            <ion-item lines="none">
              <div class="custom-align">
                <div class="custom-align-item">
                  <ion-card-title class="justify-first">{{ event.event.name }}</ion-card-title>
                </div>
                <div class="custom-align-item justify-second">
                  <ion-buttons slot="end" class="justify-second">
                    <app-saved [eventId]="event.event.id"></app-saved>
                    <ion-button *ngIf="user">
                      <ion-icon name="share-social"></ion-icon>
                    </ion-button>
                    <ion-button disabled class="whiteDisabled">
                      <ion-icon name="people"></ion-icon>
                    </ion-button>
                    <ion-badge slot="end" color="secondary">{{ event.event.players.length }}</ion-badge>
                  </ion-buttons>
                </div>
              </div>
            </ion-item>
            <ion-item lines="none">
              <ion-chip slot="start">{{ event.game.quiz ? 'Quiz' : 'Learning' }}</ion-chip>
              <ion-chip slot="end" class="joined-chip" *ngIf="user && event.event.players.includes(user.id)">Joined</ion-chip>
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            <ion-list lines="none">
              <ion-item>
                <ion-icon name="grid" size="small" class="rigt-padding"></ion-icon>
                <ion-label>{{ event.game.category }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon name="calendar-clear" size="small" class="rigt-padding"></ion-icon>
                <ion-label>{{ event.event.date | date:'yyyy. MMM dd.' }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon name="map" size="small" class="rigt-padding"></ion-icon>
                <ion-label *ngIf="event.game.locationType === LocationType.anywhere; else hasLocation">Anywhere</ion-label>
                <ng-template #hasLocation>
                  <ion-label>{{ event.game.country }}</ion-label>
                </ng-template>
              </ion-item>
            </ion-list>
            <ion-buttons class="custom-align-2">
              <ion-button class="event-color custom-align-item margin-top" fill="solid" size="small" shape="round"
                          [routerLink]="['/', 'events', 'details', event.event.id]">
                Details
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
              </ion-button>
              <ng-container *ngIf="user && user.id">
                <ion-button class="event-color custom-align-item margin-top" fill="solid" size="small" shape="round"
                            [disabled]="!canJoin(event.event)"
                            *ngIf="!event.event.players.includes(user.id)"
                            (click)="joinEvent(event.event)">
                  Join event
                  <ion-icon slot="end" name="arrow-forward"></ion-icon>
                </ion-button>
                <ion-button class="event-color custom-align-item margin-top" fill="solid" size="small" shape="round"
                            *ngIf="event.event.players.includes(user.id)"
                            (click)="goToChat(event.event.id)">
                  Chat
                  <ion-icon slot="end" name="arrow-forward"></ion-icon>
                </ion-button>
                <ion-button class="event-color custom-align-item margin-top" fill="solid" size="small" shape="round"
                            *ngIf="event.event.players.includes(user.id)"
                            (click)="cancelEvent(event.event)">
                  Cancel join
                  <ion-icon slot="end" name="arrow-forward"></ion-icon>
                </ion-button>
              </ng-container>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
