<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Edit checkpoints</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="checkpointForm" (ngSubmit)="createCheckpoint()">
    <ion-list class="ion-padding" lines="none">
      <ion-item>
        <ion-label position="stacked">Name of the checkpoint *</ion-label>
        <ion-input
          type="text"
          labelPlacement="stacked"
          placeholder="Enter a checkpoint name"
          formControlName="name"
        ></ion-input>
      </ion-item>
      <ion-item
        *ngIf="(!checkpointForm.get('name').valid && checkpointForm.get('name').touched)"
        lines="none">
        <ion-label color="danger">
          Name is required.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea label="Description"
                      labelPlacement="stacked"
                      formControlName="description"
                      placeholder="Give a description of the checkpoint">
        </ion-textarea>
      </ion-item>
      <ion-item *ngIf="locationType === LocationType.description">
        <ion-label position="stacked">Description of Location</ion-label>
        <ion-input
          type="text"
          labelPlacement="stacked"
          placeholder="Give a description of where the checkpoint is located"
          formControlName="locationDescription"
        ></ion-input>
      </ion-item>
      <ng-container *ngIf="locationType === LocationType.location">
        <app-location-picker *ngIf="checkpointForm.get('locationAddress').value; else noAddressYet"
                             [location]="checkpointForm.get('locationAddress').value"
                             (pickLocation)="onLocationPicked($event)">
        </app-location-picker>
        <ng-template #noAddressYet>
          <app-location-picker *ngIf="center; else noCenter" [center]="center" (pickLocation)="onLocationPicked($event)"></app-location-picker>
          <ng-template #noCenter><app-location-picker (pickLocation)="onLocationPicked($event)"></app-location-picker></ng-template>
        </ng-template>
      </ng-container>
      <ion-list formGroupName="quiz" *ngIf="isQuiz; else noQuiz" class="quiz ion-no-padding">
        <ion-list-header class="ion-text-center">
          <ion-label>Quiz</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label position="stacked">Question</ion-label>
          <ion-input
            type="text"
            labelPlacement="stacked"
            placeholder="Enter a question"
            formControlName="question"
          ></ion-input>
        </ion-item>
        <ion-list class="ion-margin answers" *ngIf="answers.length > 0">
          <ion-item *ngFor="let answer of answers" class="ion-align-items-center">
            <ion-label position="stacked">Answer</ion-label>
            <ion-input
              type="text"
              labelPlacement="stacked"
              placeholder="Enter an answer"
              (ionChange)="changeAnswer(answer, $event)"
              [value]="answer.answer"
            ></ion-input>
            <ion-toggle slot="end" labelPlacement="start" (ionChange)="changeAnswerCorrection(answer, $event)" [checked]="answer.correct" color="secondary" ></ion-toggle>
            <ion-button fill="clear" slot="end" class="delete-button" (click)="deleteAnswer(answer)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-label position="stacked">Answer</ion-label>
          <ion-input
            type="text"
            labelPlacement="stacked"
            placeholder="Enter an answer"
            #newAnswer
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Good answer?</ion-label>
          <ion-toggle slot="end" labelPlacement="start" color="secondary" #isItGood></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-button (click)="addAnswer(newAnswer.value, isItGood.checked)" class="answer-button">
            <ion-label>Add new answer</ion-label>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Help</ion-label>
          <ion-input
            type="text"
            labelPlacement="stacked"
            placeholder="Give help"
            formControlName="help"
          ></ion-input>
        </ion-item>
      </ion-list>
      <ng-template #noQuiz>
        <ion-item>
          <ion-label position="stacked">Info</ion-label>
          <ion-input
            type="text"
            labelPlacement="stacked"
            placeholder="Enter an info"
            formControlName="info"
          ></ion-input>
        </ion-item>
      </ng-template>
    </ion-list>
    <ion-button
      class="ion-text-center ion-justify-content-center"
      type="submit"
      expand="full"
      [disabled]="isNotValid()">
      <ion-label>Save the checkpoint</ion-label>
    </ion-button>
  </form>
</ion-content>

