<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">{{ 'CANCEL' | translate }}</ion-button>
    </ion-buttons>
    <ion-title>{{ 'SHARED.CHECKPOINTS.EDIT_CHECKPOINTS' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="checkpointForm" (ngSubmit)="createCheckpoint()">
    <ion-list class="ion-padding" lines="none">
      <ion-item>
        <ion-label position="stacked">{{ 'SHARED.CHECKPOINTS.NAME' | translate }} *</ion-label>
        <ion-input
          type="text"
          labelPlacement="stacked"
          [placeholder]="currentLanguage === 'hu' ? 'Add meg a checkpoint nevét' : 'Enter a checkpoint name'"
          formControlName="name"
        ></ion-input>
      </ion-item>
      <ion-item
        *ngIf="(!checkpointForm.get('name').valid && checkpointForm.get('name').touched)"
        lines="none">
        <ion-label color="danger">
          {{ 'SHARED.CHECKPOINTS.NAME_IS_REQUIRED' | translate }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{ 'SHARED.CHECKPOINTS.DESCRIPTION' | translate }}</ion-label>
        <ion-textarea label="Description"
                      labelPlacement="stacked"
                      formControlName="description"
                      [placeholder]="currentLanguage === 'hu' ? 'Adj egy leírást a checkpointhoz' : 'Give a description of the checkpoint'">
        </ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-center">
          {{ 'SHARED.CHECKPOINTS.PICK_IMAGE' | translate }}
        </ion-label>
      </ion-item>
      <app-image-picker (imagePick)="onImagePick($event)"
                        [showPreview]="checkpointForm.get('imgUrl').value"
                        [previewImage]="checkpointForm.get('imgUrl').value"></app-image-picker>
      <ion-item *ngIf="locationType === LocationType.description">
        <ion-label position="stacked">{{ 'SHARED.CHECKPOINTS.DESCRIPTION_OF_LOCATION' | translate }}</ion-label>
        <ion-input
          type="text"
          labelPlacement="stacked"
          [placeholder]="currentLanguage === 'hu' ? 'Adj meg egy útmutatót, hogy hogyan lehet eljutni a checkpointhoz' : 'Give a description of where the checkpoint is located'"
          formControlName="locationDescription">
        </ion-input>
      </ion-item>
      <ng-container *ngIf="locationType === LocationType.location">
        <app-location-picker *ngIf="checkpointForm.get('locationAddress').value; else noAddressYet"
                             [location]="checkpointForm.get('locationAddress').value"
                             (pickLocation)="onLocationPicked($event)">
        </app-location-picker>
        <ng-template #noAddressYet>
          <app-location-picker *ngIf="center; else noCenter" [center]="center" (pickLocation)="onLocationPicked($event)"></app-location-picker>
          <ng-template #noCenter><app-location-picker (pickLocation)="onLocationPicked($event)"></app-location-picker></ng-template>
        </ng-template>
      </ng-container>
      <ion-list formGroupName="quiz" *ngIf="isQuiz; else noQuiz" class="quiz ion-no-padding">
        <ion-list-header class="ion-text-center">
          <ion-label>{{ 'SHARED.CHECKPOINTS.QUIZ' | translate }}</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label position="stacked">{{ 'SHARED.CHECKPOINTS.QUESTION' | translate }}</ion-label>
          <ion-input
            type="text"
            labelPlacement="stacked"
            [placeholder]="currentLanguage === 'hu' ? 'Adj meg egy kérdést' : 'Enter a question'"
            formControlName="question"
          ></ion-input>
        </ion-item>
        <ion-list class="ion-margin answers" *ngIf="answers.length > 0">
          <ion-item *ngFor="let answer of answers" class="ion-align-items-center">
            <ion-label position="stacked">{{ 'SHARED.CHECKPOINTS.ANSWER' | translate }}</ion-label>
            <ion-input
              type="text"
              labelPlacement="stacked"
              [placeholder]="currentLanguage === 'hu' ? 'Adj meg egy választ' : 'Enter an answer'"
              (ionChange)="changeAnswer(answer, $event)"
              [value]="answer.answer"
            ></ion-input>
            <ion-toggle slot="end" labelPlacement="start" (ionChange)="changeAnswerCorrection(answer, $event)" [checked]="answer.correct" color="secondary" ></ion-toggle>
            <ion-button fill="clear" slot="end" class="delete-button" (click)="deleteAnswer(answer)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-label position="stacked">{{ 'SHARED.CHECKPOINTS.ANSWER' | translate }}</ion-label>
          <ion-input
            type="text"
            labelPlacement="stacked"
            [placeholder]="currentLanguage === 'hu' ? 'Adj meg egy választ' : 'Enter an answer'"
            #newAnswer
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'SHARED.CHECKPOINTS.GOOD_ANSWER' | translate }}</ion-label>
          <ion-toggle slot="end" labelPlacement="start" color="secondary" #isItGood></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-button (click)="addAnswer(newAnswer.value, isItGood.checked)" class="answer-button">
            <ion-label>{{ 'SHARED.CHECKPOINTS.ADD_NEW_ANSWER' | translate }}</ion-label>
          </ion-button>
        </ion-item>
        <ion-item *ngIf="!quizIsReady()">
          <ion-label color="danger">{{ 'SHARED.CHECKPOINTS.SHOULD_BE_CORRECT' | translate }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{ 'SHARED.CHECKPOINTS.HELP' | translate }}</ion-label>
          <ion-input
            type="text"
            labelPlacement="stacked"
            [placeholder]="currentLanguage === 'hu' ? 'Adj segítséget' : 'Give help'"
            formControlName="help"
          ></ion-input>
        </ion-item>
      </ion-list>
      <ng-template #noQuiz>
        <ion-item>
          <ion-label position="stacked">{{ 'SHARED.CHECKPOINTS.INFO' | translate }}</ion-label>
          <ion-textarea
            type="text"
            labelPlacement="stacked"
            [placeholder]="currentLanguage === 'hu' ? 'Adj meg egy információt' : 'Enter an info'"
            formControlName="info"
          ></ion-textarea>
        </ion-item>
      </ng-template>
    </ion-list>
    <ion-button
      class="ion-text-center ion-justify-content-center ion-no-margin"
      type="submit"
      expand="full"
      [disabled]="isNotValid()">
      <ion-label>{{ 'SHARED.CHECKPOINTS.SAVE_THE_CHECKPOINTS' | translate }}</ion-label>
    </ion-button>
  </form>
</ion-content>

