<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">{{ 'CANCEL' | translate }}</ion-button>
    </ion-buttons>
    <ion-title>{{ 'GAME_MODE.GAME.CHECKPOINTS' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="ion-justify-content-center ion-align-items-center">
    <ion-row *ngIf="isLoading; else loaded">
      <ion-col class="ion-text-center ion-justify-content-center ion-align-items-center">
        <ion-spinner name="lines-sharp" color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
    <ng-template #loaded>
      <ion-row *ngIf="game.mapUrl" class="ion-justify-content-center">
        <ion-col size-sm="10" class="ion-align-items-center ion-text-center display-flex ion-justify-content-center">
          <ion-label>{{ 'GAME_MODE.GAME.MAP' | translate }}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="game.mapUrl" class="ion-justify-content-center">
        <ion-col size-sm="10" class="ion-align-items-center ion-text-center display-flex ion-justify-content-center">
          <ion-img [src]="game.mapUrl">
          </ion-img>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size-sm="10" class="ion-align-items-center ion-text-center">
          <ion-list class="ion-no-padding">
            <ion-list-header>
              <ion-label>{{ 'GAME_MODE.GAME.CHECKPOINTS' | translate }}</ion-label>
            </ion-list-header>
            <ion-item *ngFor="let checkpoint of actualCheckpoints">
              <ion-icon [name]="checkpoint.done ? 'checkmark-circle' : 'close-circle'" slot="start"></ion-icon>
              <ion-label class="ion-no-margin ion-no-padding">{{ (checkpoint.indexx + 1) + '. ' + checkpoint.name}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ng-template>
  </ion-grid>
</ion-content>

