<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/games"></ion-back-button>
    </ion-buttons>
    <ion-title>Game making</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="gameForm" (ngSubmit)="creatGame()">
    <ion-list class="ion-padding">
      <ion-item>
        <ion-label position="floating">Name of the game *</ion-label>
        <ion-input
          type="text"
          labelPlacement="floating"
          placeholder="Enter a game name"
          formControlName="name"
        ></ion-input>
      </ion-item>
      <ion-item
        *ngIf="(!gameForm.get('name').valid && gameForm.get('name').touched)"
        lines="none"
      >
        <ion-label color="danger">
          Name is required.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-select placeholder="Select a category" formControlName="category">
          <div slot="label">Category *</div>
          <ng-container *ngFor="let category of categories">
            <ion-select-option [value]="category">{{ category }}</ion-select-option>
          </ng-container>
<!--          <ion-select-option value="apple" (click)="addCategory()">Egyéb</ion-select-option>-->
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select placeholder="Choose a game type" formControlName="quiz">
          <div slot="label">Type *</div>
          <ion-select-option [value]="true">Quiz</ion-select-option>
          <ion-select-option [value]="false">Learning</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>It has specific location?</ion-label>
        <ion-toggle formControlName="hasALocation" labelPlacement="start" value="false" color="secondary">It has specific location?</ion-toggle>
      </ion-item>
      <ng-container *ngIf="gameForm.get('hasALocation').value">
        <ion-item [button]="true" [detail]="false" id="select-country">
          <ion-label>Country</ion-label>
          <div slot="end" id="selected-country">{{ selectedCountry }}</div>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Address</ion-label>
          <ion-input
            type="text"
            labelPlacement="floating"
            placeholder="Enter the address"
            formControlName="pointOfDeparture"
          ></ion-input>
        </ion-item>
      </ng-container>
      <ion-item>
        <ion-label>Available for everyone?</ion-label>
        <ion-toggle formControlName="itIsPublic" labelPlacement="start" value="false" color="secondary"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-textarea label="Description *"
                      labelPlacement="floating"
                      formControlName="description"
                      placeholder="Give a description of the game. Who would you recommend it to?"></ion-textarea>
      </ion-item>
      <ion-item
        *ngIf="(!gameForm.get('description').valid && gameForm.get('description').touched)"
        lines="none"
      >
        <ion-label color="danger">
          Description is required.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Distance (km)*</ion-label>
        <ion-input
          type="text"
          labelPlacement="floating"
          placeholder="Enter approximately how long the game is in km."
          formControlName="distance"
        ></ion-input>
      </ion-item>
      <ion-item
        *ngIf="(!gameForm.get('distance').valid && gameForm.get('distance').touched)"
        lines="none"
      >
        <ion-label color="danger">
          Distance is required.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Duration (hour) *</ion-label>
        <ion-input
          type="text"
          labelPlacement="floating"
          placeholder="Enter the approximate length of the game in hours."
          formControlName="duration"
        ></ion-input>
      </ion-item>
      <ion-item
        *ngIf="(!gameForm.get('duration').valid && gameForm.get('duration').touched)"
        lines="none"
      >
        <ion-label color="danger">
          Duration is required.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Upload a cover image for the game</ion-label>
        <ion-input
          slot="end"
          type="file"
          class="file-upoad"
          onchange="console.log(event.target.files)"
          formControlName="imgUrl"
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-button
      class="ion-no-margin"
      type="submit"
      color="primary"
      expand="full"
      [disabled]="!gameForm.valid">
      Save the game
    </ion-button>
  </form>
  <ion-modal trigger="select-country" #modal>
    <ng-template>
      <app-pick-a-thing
        class="ion-page"
        [countries]="countries"
        [selectedCountry]="selectedCountry"
        (selectionChange)="countrySelectionChanged($event)"
        (selectionCancel)="modal.dismiss()"
      ></app-pick-a-thing>
    </ng-template>
  </ion-modal>
</ion-content>
