<ion-header>
  <ion-toolbar color="tertiary">
    <ion-button slot="start" (click)="back()" class="custom-button-white">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title>{{ 'CONNECTIONS.CREATE_CHAT' | translate }}</ion-title>
    <ion-button slot="end" (click)="done()" [disabled]="!canCreate()" class="custom-button-white">
      <ion-label>{{ 'DONE' | translate }}</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label position="stacked">{{ 'CONNECTIONS.NAME_OF_THE_CHAT' | translate }}</ion-label>
    <ion-input
      [(ngModel)]="name"
      type="text"
      labelPlacement="stacked"
      [placeholder]="currentLanguage === 'hu' ? 'Adj meg egy csapatnevet' : 'Enter a group name'"
    ></ion-input>
  </ion-item>
  <ion-item lines="none" *ngIf="name === ''">
    <ion-label color="danger">{{ 'CONNECTIONS.GROUP_IS_REQUIRED' | translate }}</ion-label>
  </ion-item>
  <ion-searchbar [debounce]="1000"
                 (ionInput)="filtering($event)"
                 [placeholder]="currentLanguage === 'hu' ? 'Keresés' : 'Search'"></ion-searchbar>
  <ion-list lines="none" *ngIf="addedUsers && addedUsers.length > 0" class="ion-no-margin ion-no-padding">
    <ion-list-header>
      <ion-label>{{ 'CONNECTIONS.ADDED_TO_CHAT' | translate }}</ion-label>
    </ion-list-header>
    <div class="list-users">
          <div *ngFor="let user of addedUsers" class="user-container">
            <ion-avatar slot="start" class="set-width ion-justify-content-center ion-align-items-center ion-text-center">
              <img alt="Profile picture" [src]="user.picture"/>
            </ion-avatar>
            <ion-label class="ion-text-center">{{ user.username }}</ion-label>
            <ion-button (click)="deleteFromAdded(user.id)" size="small" shape="round" class="icoon">
              <ion-icon slot="end" name="trash"></ion-icon>
            </ion-button>
          </div>
    </div>
  </ion-list>
  <ion-list *ngIf="friends" class="ion-no-margin ion-no-padding">
    <ion-list-header>
      <ion-label>{{ 'CONNECTIONS.FRIENDS' | translate }}</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let friend of filteredFriends">
      <ion-avatar slot="start">
        <img alt="Profile picture" [src]="friend.picture"/>
      </ion-avatar>
      <ion-label>{{ friend.username }}</ion-label>
        <ion-button *ngIf="!canAdd(friend.id)" slot="end" size="small" (click)="addToChat(friend)" class="custom-button">
          <ion-label>{{ 'CONNECTIONS.ADD' | translate }}</ion-label>
        </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
