<form [formGroup]="eventForm" (ngSubmit)="createEvent()">
  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center" size-sm="6">
        <ion-list class="ion-padding" lines="none">
          <ion-item class="ion-align-items-center">
            <ion-label position="stacked">Name of the event *</ion-label>
            <ion-input
              type="text"
              labelPlacement="stacked"
              placeholder="Enter an event name"
              formControlName="name"
            ></ion-input>
          </ion-item>
          <ion-item
            class="ion-align-items-center"
            *ngIf="(!eventForm.get('name').valid && eventForm.get('name').touched)"
            lines="none">
            <ion-label color="danger">
              Name is required.
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-align-items-center" size-sm="6">
        <ion-datetime [value]="defaultDate"
                      [min]="today"
                      (ionChange)="setDate($event)"
                      class="ion-padding"></ion-datetime>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center" size-sm="6">
        <ion-list class="ion-padding" lines="none">
          <ion-item class="ion-align-items-center">
            <ion-label>Available for everyone?</ion-label>
            <ion-toggle formControlName="isItPublic" labelPlacement="start" value="false" color="secondary"></ion-toggle>
          </ion-item>
          <ion-item class="ion-align-items-center">
            <ion-label class="ion-text-center">
              Pick an image for the event
            </ion-label>
          </ion-item>
          <app-image-picker (imagePick)="onImagePick($event)"
                            [showPreview]="eventForm.get('imgUrl').value"
                            [previewImage]="eventForm.get('imgUrl').value"></app-image-picker>
          <ion-item class="ion-align-items-center">
            <ion-label position="stacked">Description</ion-label>
            <ion-textarea label="Description"
                          labelPlacement="stacked"
                          formControlName="description"
                          placeholder="Give a description of the checkpoint">
            </ion-textarea>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center ion-padding" size-sm="6">
        <ion-item class="ion-align-items-center" lines="none">
          <ion-label class="ion-text-center">
            Choose game mode
          </ion-label>
        </ion-item>
        <ion-segment color="primary" (ionChange)="setGameMode($event)" [value]="GameMode.againstEachOther">
          <ion-segment-button [value]="GameMode.againstEachOther">
            <ion-label>AGAINST<br>EACH<br>OTHER</ion-label>
          </ion-segment-button>
          <ion-segment-button [value]="GameMode.teamGame">
            <ion-label>TEAM<br>GAME</ion-label>
          </ion-segment-button>
          <ion-segment-button [value]="GameMode.teamVsTeam">
            <ion-label>TEAM<br>VS<br>TEAM</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center ion-padding" size-sm="6">
        <ion-item class="ion-align-items-center" lines="none">
          <ion-label class="ion-text-center">
            Do you want to share your event?
          </ion-label>
        </ion-item>
        <ion-segment color="primary" (ionChange)="setPublic($event)" [value]="true">
          <ion-segment-button [value]="true">
            <ion-label>PUBLIC</ion-label>
          </ion-segment-button>
          <ion-segment-button [value]="false">
            <ion-label>PRIVATE</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" *ngIf="actualGameMode !== GameMode.notSpecified" >
      <ion-col class="ion-text-center" size-sm="6">
        <ion-list class="ion-padding" lines="none" formGroupName="liveGameSettings">
          <ng-container *ngIf="actualGameMode === GameMode.teamVsTeam">
            <ion-item class="ion-align-items-center">
              <ion-label position="stacked">Number of teams</ion-label>
              <ion-input
                type="number"
                labelPlacement="stacked"
                placeholder="Enter the number of teams"
                formControlName="maxTeam"
              ></ion-input>
            </ion-item>
            <ion-item class="ion-align-items-center">
              <ion-label position="stacked">Number of team members</ion-label>
              <ion-input
                type="number"
                labelPlacement="stacked"
                placeholder="Enter the maximum number of people in a team"
                formControlName="maxTeamMember"
              ></ion-input>
            </ion-item>
          </ng-container>
          <ng-container *ngIf="actualGameMode === GameMode.teamGame">
            <ion-item class="ion-align-items-center">
              <ion-label position="stacked">Number of members</ion-label>
              <ion-input
                type="number"
                labelPlacement="stacked"
                placeholder="Enter the number of members"
                formControlName="maxTeam"
              ></ion-input>
            </ion-item>
          </ng-container>
          <ng-container *ngIf="actualGameMode === GameMode.againstEachOther">
            <ion-item class="ion-align-items-center">
              <ion-label position="stacked">Number of members</ion-label>
              <ion-input
                type="number"
                labelPlacement="stacked"
                placeholder="Enter the number of members"
                formControlName="maxTeamMember"
              ></ion-input>
            </ion-item>
          </ng-container>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center" size-sm="6">
        <ion-button
          class="ion-text-center ion-justify-content-center ion-margin ion-padding border-radius"
          type="submit"
          color="secondary"
          size="large"
          [disabled]="!eventForm.valid">
          <ion-label>Save the event</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>

