<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancelChanges()">{{ 'CANCEL' | translate }}</ion-button>
    </ion-buttons>
    <ion-title>{{ 'SHARED.PICK_NEW_IMAGE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirmChanges()">{{ 'DONE' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-image-picker (imagePick)="setPicture($event)"
                    [showPreview]="!!loadedPicture"></app-image-picker>
</ion-content>
