// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #a39171;
  --ion-color-primary-rgb: 163,145,113;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #8f8063;
  --ion-color-primary-tint: #ac9c7f;

  /** secondary **/
  --ion-color-secondary: #504136;
  --ion-color-secondary-rgb: 80,65,54;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #463930;
  --ion-color-secondary-tint: #62544a;

  /** tertiary **/
  --ion-color-tertiary: #abc4ab;
  --ion-color-tertiary-rgb: 171,196,171;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #96ac96;
  --ion-color-tertiary-tint: #b3cab3;

  /** success **/
  --ion-color-success: #04724d;
  --ion-color-success-rgb: 4,114,77;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #046444;
  --ion-color-success-tint: #1d805f;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #DA3E52;
  --ion-color-danger-rgb: 218,62,82;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #c03748;
  --ion-color-danger-tint: #de5163;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** pages **/
  --color-games: #04724d;
  --color-profile: #136f63;
  --color-game-creation: #177e89;
  --color-game-creation-dark: #0f2628;
  --color-event: #f02d3a;
  --color-event-dark: #510018;
  --color-game-mode: #510018;
  --color-connections: #da3e52;


  --ion-item-background: #00000000;
  --ion-card-background: #00000000;
  //--ion-font-family: 'Convergence';
  .dark-card {
    --ion-card-background: #000000;
    --ion-text-color: #ffffff;
  }

}
