<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <ion-list class="ion-padding">
    <ion-item>
      <ion-label position="floating">Email *</ion-label>
      <ion-input
        type="email"
        email
        labelPlacement="floating"
        [placeholder]="currentLanguage === 'hu' ? 'Add meg az email címed' : 'Enter your email here'"
        formControlName="email"
      ></ion-input>
    </ion-item>
    <ion-item
      *ngIf="(!profileForm.get('email').valid && profileForm.get('email').touched)"
      lines="none"
    >
      <ion-label color="danger">{{ 'AUTH.VALID_EMAIL' | translate }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'AUTH.USERNAME' | translate }} *</ion-label>
      <ion-input
        type="text"
        labelPlacement="floating"
        [placeholder]="currentLanguage === 'hu' ? 'Adj meg egy felhasználónevet' : 'Enter a username'"
        formControlName="username"
      ></ion-input>
    </ion-item>
    <ion-item
      *ngIf="(!profileForm.get('username').valid && profileForm.get('username').touched)"
      lines="none"
    >
      <ion-label color="danger">{{ 'AUTH.VALID_USERNAME' | translate }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'AUTH.PASSWORD' | translate }} *</ion-label>
      <ion-input
        type="password"
        labelPlacement="floating"
        [placeholder]="currentLanguage === 'hu' ? 'Adj meg egy jelszót' : 'Enter a password'"
        formControlName="password"
      ></ion-input>
    </ion-item>
    <ion-item
      *ngIf="(!profileForm.get('password').valid && profileForm.get('password').touched)"
      lines="none"
    >
      <ion-label color="danger">{{ 'AUTH.VALID_PASSWORD' | translate }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'AUTH.PASSWORD_AGAIN' | translate }} *</ion-label>
      <ion-input
        type="password"
        labelPlacement="floating"
        [placeholder]="currentLanguage === 'hu' ? 'Add meg újra a jelszót' : 'Enter the password again'"
        formControlName="passwordAgain"
      ></ion-input>
    </ion-item>
    <ion-item
      *ngIf="profileForm.hasError('passwordMismatch') && (profileForm.get('passwordAgain').dirty || profileForm.get('passwordAgain').touched)"
      lines="none"
    >
      <ion-label color="danger">{{ 'AUTH.VALID_PASSWORDS' | translate }}</ion-label>
    </ion-item>
    <ion-item [button]="true" [detail]="false" (click)="selectCountry()">
      <ion-label>{{ 'AUTH.COUNTRY' | translate }}</ion-label>
      <div slot="end">{{ selectedCountry }}</div>
      <ion-icon name="caret-down" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-button
    class="ion-no-margin"
    type="submit"
    color="primary"
    expand="full"
    [disabled]="!profileForm.valid">
    {{ 'AUTH.SIGN_UP' | translate }}
  </ion-button>
</form>
