<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <ion-list class="ion-padding">
    <ion-item>
      <ion-label position="floating">E-mail *</ion-label>
      <ion-input
        type="email"
        email
        labelPlacement="floating"
        placeholder="Type your email here"
        formControlName="email"
      ></ion-input>
    </ion-item>
    <ion-item
      *ngIf="(!profileForm.get('email').valid && profileForm.get('email').touched)"
      lines="none"
    >
      <ion-label color="danger">
        Should be a valid email address.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Username *</ion-label>
      <ion-input
        type="text"
        labelPlacement="floating"
        placeholder="Enter a username"
        formControlName="username"
      ></ion-input>
    </ion-item>
    <ion-item
      *ngIf="(!profileForm.get('username').valid && profileForm.get('username').touched)"
      lines="none"
    >
      <ion-label color="danger">
        Username is required.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password *</ion-label>
      <ion-input
        type="password"
        labelPlacement="floating"
        placeholder="Type your password here"
        formControlName="password"
      ></ion-input>
    </ion-item>
    <ion-item
      *ngIf="(!profileForm.get('password').valid && profileForm.get('password').touched)"
      lines="none"
    >
      <ion-label color="danger">
        Should at least be 6 characters long.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password again *</ion-label>
      <ion-input
        type="password"
        labelPlacement="floating"
        placeholder="Type your password here again"
        formControlName="passwordAgain"
      ></ion-input>
    </ion-item>
    <ion-item
      *ngIf="profileForm.hasError('passwordMismatch') && (profileForm.get('passwordAgain').dirty || profileForm.get('passwordAgain').touched)"
      lines="none"
    >
      <ion-label color="danger">
        Passwords do not match.
      </ion-label>
    </ion-item>
    <ion-item [button]="true" [detail]="false" id="select-country">
      <ion-label>Country</ion-label>
      <div slot="end" id="selected-country">{{ selectedCountry }}</div>
    </ion-item>
    <ion-item>
      <ion-label>Upload profile picture</ion-label>
      <ion-input
        slot="end"
        type="file"
        class="file-upoad"
        onchange="console.log(event.target.files)"
        formControlName="picture"
      ></ion-input>
<!--      <input type="file" class="file-input"-->
<!--             (change)="onFileSelected($event)" #fileUpload>-->

<!--      <div class="file-upload">-->

<!--        {{fileName || "No file uploaded yet."}}-->

<!--        <button color="primary" class="upload-btn"-->
<!--                (click)="fileUpload.click()">-->
<!--          <mat-icon>attach_file</mat-icon>-->
<!--        </button>-->
<!--      </div>-->
    </ion-item>
  </ion-list>
  <ion-button
    class="ion-no-margin"
    type="submit"
    color="primary"
    expand="full"
    [disabled]="!profileForm.valid">
    Signup
  </ion-button>
</form>
<ion-modal trigger="select-country" #modal>
  <ng-template>
    <app-pick-a-thing
      class="ion-page"
      [countries]="countries"
      [selectedCountry]="selectedCountry"
      (selectionChange)="countrySelectionChanged($event)"
      (selectionCancel)="modal.dismiss()"
    ></app-pick-a-thing>
  </ng-template>
</ion-modal>

<!--<form #f="ngForm" (ngSubmit)="onSubmit(f)">-->
<!--  <ion-list class="ion-padding">-->
<!--    <ion-item>-->
<!--      <ion-label position="floating">E-mail</ion-label>-->
<!--      <ion-input-->
<!--        type="email"-->
<!--        ngModel-->
<!--        name="email"-->
<!--        required-->
<!--        email-->
<!--        labelPlacement="floating"-->
<!--        placeholder="Type your email here"-->
<!--        #emailCtrl="ngModel"-->
<!--      ></ion-input>-->
<!--    </ion-item>-->
<!--    <ion-item-->
<!--      *ngIf="!emailCtrl.valid && emailCtrl.touched"-->
<!--      lines="none"-->
<!--    >-->
<!--      <ion-label>-->
<!--        Should be a valid email address.-->
<!--      </ion-label>-->
<!--    </ion-item>-->
<!--    <ion-item>-->
<!--      <ion-label position="floating">Username</ion-label>-->
<!--      <ion-input-->
<!--        type="text"-->
<!--        ngModel-->
<!--        name="username"-->
<!--        required-->
<!--        labelPlacement="floating"-->
<!--        placeholder="Enter a username"-->
<!--        #usernameCtrl="ngModel"-->
<!--      ></ion-input>-->
<!--    </ion-item>-->
<!--    <ion-item>-->
<!--      <ion-label position="floating">Password</ion-label>-->
<!--      <ion-input-->
<!--        type="password"-->
<!--        ngModel-->
<!--        name="password"-->
<!--        required-->
<!--        minlength="6"-->
<!--        labelPlacement="floating"-->
<!--        placeholder="Type your password here"-->
<!--        #passwordCtrl="ngModel"-->
<!--      ></ion-input>-->
<!--    </ion-item>-->
<!--    <ion-item-->
<!--      *ngIf="!passwordCtrl.valid && passwordCtrl.touched"-->
<!--      lines="none"-->
<!--    >-->
<!--      <ion-label>-->
<!--        Should at least be 6 characters long.-->
<!--      </ion-label>-->
<!--    </ion-item>-->
<!--    <ion-item>-->
<!--      <ion-label position="floating">Password again</ion-label>-->
<!--      <ion-input-->
<!--        type="password"-->
<!--        ngModel-->
<!--        name="passwordAgain"-->
<!--        required-->
<!--        minlength="6"-->
<!--        labelPlacement="floating"-->
<!--        placeholder="Type your password here again"-->
<!--        #passwordCtrl="ngModel"-->
<!--      ></ion-input>-->
<!--    </ion-item>-->
<!--    <ion-item-->
<!--      *ngIf="!passwordCtrl.valid && passwordCtrl.touched"-->
<!--      lines="none"-->
<!--    >-->
<!--      <ion-label>-->
<!--        It does not match the password you provided.-->
<!--      </ion-label>-->
<!--    </ion-item>-->
<!--    <ion-item [button]="true" [detail]="false" id="select-country">-->
<!--      <ion-label>Country</ion-label>-->
<!--      <div slot="end" id="selected-country">{{ selectedCountry }}</div>-->
<!--    </ion-item>-->
<!--    <ion-item>-->
<!--      <ion-label>Upload profile picture</ion-label>-->
<!--      <ion-input-->
<!--        slot="end"-->
<!--        type="file"-->
<!--        ngModel-->
<!--        name="profilePicture"-->
<!--        class="file-upoad"-->
<!--        onchange="console.log(event.target.files)"-->
<!--        #profilPicture="ngModel"-->
<!--      ></ion-input>-->
<!--      <input type="file" class="file-input"-->
<!--             (change)="onFileSelected($event)" #fileUpload>-->

<!--      <div class="file-upload">-->

<!--        {{fileName || "No file uploaded yet."}}-->

<!--        <button color="primary" class="upload-btn"-->
<!--                (click)="fileUpload.click()">-->
<!--          <mat-icon>attach_file</mat-icon>-->
<!--        </button>-->
<!--      </div>-->
<!--    </ion-item>-->
<!--  </ion-list>-->
<!--  <ion-button-->
<!--    class="ion-no-margin"-->
<!--    type="submit"-->
<!--    color="primary"-->
<!--    expand="full"-->
<!--    [disabled]="!f.valid">-->
<!--    Signup-->
<!--  </ion-button>-->
<!--</form>-->
<!--<ion-modal trigger="select-country" #modal>-->
<!--  <ng-template>-->
<!--    <app-pick-a-thing-->
<!--      class="ion-page"-->
<!--      [countries]="countries"-->
<!--      [selectedCountry]="selectedCountry"-->
<!--      (selectionChange)="countrySelectionChanged($event)"-->
<!--      (selectionCancel)="modal.dismiss()"-->
<!--    ></app-pick-a-thing>-->
<!--  </ng-template>-->
<!--</ion-modal>-->
