<div class="picker">
  <ion-spinner *ngIf="isLoading" name="lines-sharp" color="primary"></ion-spinner>
  <ion-img
    *ngIf="location && !isLoading"
    [src]="location.staticMapImageUrl"
    class="location-img"></ion-img>
  <ion-button *ngIf="!isLoading" color="primary" (click)="onPickLocation()" class="ion-margin">
    <ion-icon name="map" slot="start"></ion-icon>
    <ion-label>{{ location ? ('SHARED.SELECT_OTHER_LOCATION' | translate) : ('SHARED.SELECT_LOCATION' | translate)}}</ion-label>
  </ion-button>
</div>
