<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Games</ion-title>
    <ion-buttons slot="end">
      <ion-button><ion-icon name="options"></ion-icon></ion-button>
      <ion-button><ion-icon name="swap-vertical"></ion-icon></ion-button>
      <ion-button><ion-icon name="settings-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="filter" ngDefaultControl animated="true" placeholder="Search"></ion-searchbar>
  <ion-grid size="10" *ngIf="!loadedGames || loadedGames.length === 0 || isLoading">
    <ion-row class="ion-align-items-center">
      <ion-col size="12">
        <div *ngIf="!loadedGames || loadedGames.length === 0" class="ion-text-center">
          <p>There are no games right know.</p>
        </div>
        <div *ngIf="isLoading" class="ion-text-center">
          <ion-spinner color="tertiary" *ngIf="isLoading"></ion-spinner>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid size="10" *ngIf="loadedGames.length > 0 && !isLoading">
    <ion-row class="ion-align-items-center">
      <ion-col size-xs="12"  size-md="6"
               class="ion-align-items-center"
               *ngFor="let game of loadedGames | filter:filter">
            <ion-card class="dark-card">
              <div class="background-image-container"><ion-img [src]="game.imgUrl" class="background-image"></ion-img></div>
              <ion-card-header class="ion-no-padding">
                <ion-item lines="none">
                  <div class="custom-align">
                    <div class="custom-align-item">
                      <ion-card-title class="justify-first">{{ game.name}}</ion-card-title>
                    </div>
                    <div class="custom-align-item justify-second">
                      <ion-buttons slot="end" class="justify-second">
                        <ng-container *ngIf="checkIsItFavourite(game.id); else favourite">
                          <ion-button (click)="deleteFromFavourites(game.id)"><ion-icon name="heart"></ion-icon></ion-button>
                        </ng-container>
                        <ng-template #favourite>
                          <ion-button (click)="addToFavourites(game.id)"><ion-icon name="heart-outline"></ion-icon></ion-button>
                        </ng-template>
                        <ion-button><ion-icon name="share-social"></ion-icon></ion-button>
                        <ion-button disabled class="whiteDisabled"><ion-icon name="people"></ion-icon></ion-button>
                        <ion-badge slot="end" color="secondary">{{ game.numberOfAttempts }}</ion-badge>
                      </ion-buttons>
                    </div>
                  </div>
                </ion-item>
                <ion-item lines="none">
                  <ion-chip slot="start">{{ game.quiz ? 'Quiz' : 'Learning' }}</ion-chip>
                </ion-item>
              </ion-card-header>
              <ion-card-content>
                <ion-list lines="none">
                  <ion-item>
                    <ion-icon name="grid" size="small" class="rigt-padding"></ion-icon>
                    <ion-label>{{ game.category }}</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-icon name="map" size="small" class="rigt-padding"></ion-icon>
                    <ion-label>{{ game.country }}</ion-label>
                  </ion-item>
                </ion-list>
                <ion-buttons class="custom-align-2">
                  <ion-button class="green custom-align-item margin-top" fill="solid" size="small" shape="round" [routerLink]="['/', 'games', 'details', game.id]">
                    Details
                    <ion-icon slot="end" name="arrow-forward"></ion-icon>
                  </ion-button>
                  <ion-button class="green custom-align-item margin-top" fill="solid" size="small" shape="round" [routerLink]="['/', 'events', 'create-event']">
                    Create event
                    <ion-icon slot="end" name="arrow-forward"></ion-icon>
                  </ion-button>
                  <ion-button class="green custom-align-item margin-top" fill="solid" size="small" shape="round" [routerLink]="['/', 'game-mode']">
                    Play
                    <ion-icon slot="end" name="arrow-forward"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-card-content>
            </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button color="tertiary">
      <ion-icon name="add" [routerLink]="['/', 'games', 'create-game']"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
