<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Games</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFiltering()">
        <ion-icon name="options"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleSorting()">
        <ion-icon name="swap-vertical"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar [(ngModel)]="filter" ngDefaultControl animated="true" placeholder="Search"></ion-searchbar>
  <ion-grid size="10" *ngIf="actualGames && sortingMode">
    <ion-row class="ion-align-items-center">
      <ion-col size="12">
        <ion-item>
          <ion-select placeholder="Select a sorting mode" (ionChange)="sortGamesEvent($event)">
            <div slot="label">Sorting *</div>
            <ion-select-option [value]="SortingMode.byCreationDate">By creation date
            </ion-select-option>
            <ion-select-option [value]="SortingMode.byGameName">By game name
            </ion-select-option>
            <ion-select-option [value]="SortingMode.byPopularity">By popularity
            </ion-select-option>
          </ion-select>
          <ion-buttons slot="end">
            <ion-button slot="icon-only" [disabled]="!descending" (click)=toggleDescending()>
              <ion-icon name="arrow-down-outline" class="black"></ion-icon>
            </ion-button>
            <ion-button slot="icon-only" [disabled]="descending" (click)=toggleDescending()>
              <ion-icon name="arrow-up-outline" class="black"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid size="10" *ngIf="actualGames && filteringMode">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-justify-content-center">
        <ion-button fill="outline" color="tertiary" (click)="startFilter(FilteringMode.byCategories)">Categories</ion-button>
        <ion-button fill="outline" color="tertiary" (click)="startFilter(FilteringMode.byCountries)">Countries</ion-button>
        <ion-button fill="outline" color="tertiary" (click)="startFilter(FilteringMode.byTypes)">Types</ion-button>
        <ion-button fill="outline" color="tertiary" (click)="startFilter(FilteringMode.byFavourites)" [disabled]="user === null">Favourites</ion-button>
        <ion-button fill="outline" color="tertiary" (click)="startFilter(FilteringMode.byOwnCountry)" [disabled]="user === null">My country</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center" *ngIf=" filters.length > 0">
      <ion-col size="12" class="filter-group ion-justify-content-center">
        <ion-chip *ngFor="let item of filters">
          <ion-label>{{ item }}</ion-label>
          <ion-icon (click)="deleteFilter(item)" name="close"></ion-icon>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid size="10" *ngIf="!actualGames || actualGames.length === 0 || isLoading">
    <ion-row class="ion-align-items-center">
      <ion-col size="12">
        <div *ngIf="!actualGames || actualGames.length === 0" class="ion-text-center">
          <p>There are no games right know.</p>
        </div>
        <div *ngIf="isLoading" class="ion-text-center">
          <ion-spinner name="lines-sharp" color="tertiary" *ngIf="isLoading"></ion-spinner>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid size="10" *ngIf="actualGames.length > 0 && !isLoading">
    <ion-row class="ion-align-items-center">
      <ion-col size-xs="12" size-md="6"
               class="ion-align-items-center"
               *ngFor="let game of actualGames | filter:filter">
        <app-game-card [game]="game" [profile]="false" [ownProfile]="user && game.userId === user.id"
                       [loggedUser]="user"></app-game-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button color="tertiary">
      <ion-icon name="add" [routerLink]="['/', 'games', 'create-game']"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
