<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="ownProfile" (click)="startDeleteTheProfile()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding ion-no-margin container" *ngIf="userIsLoading; else isNotLoading">
    <ion-row class="fill-item">
      <ion-col class="ion-text-center ion-justify-content-center ion-align-items-center">
        <ion-spinner name="lines-sharp" color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-template #isNotLoading>
    <ion-grid class="ion-no-padding ion-no-margin container">
      <ion-row class="header">
        <ion-col class="ion-align-items-center ion-justify-content-center">
          <ion-item lines="none">
            <ion-avatar id="profile-picture">
              <img alt="Profile picture" [src]="loadedUser.picture"/>
            </ion-avatar>
            <ion-button *ngIf="ownProfile" slot="end" (click)="togglePicture()" class="absolute-position">
              <ion-icon name="pencil"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-list class="ion-no-padding ion-no-margin profile-data" lines="none">
            <ion-item class="ion-no-padding ion-no-margin">
              <ion-label class="ion-no-padding ion-no-margin">
                <h2>Username</h2>
                <p>{{ loadedUser.username }}</p>
              </ion-label>
              <ion-button *ngIf="ownProfile" slot="end" (click)="editUsernameAlert()">
                <ion-icon name="pencil"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-item class="ion-no-padding ion-no-margin">
              <ion-label class="ion-no-padding ion-no-margin">
                <h2>Email</h2>
                <p>{{ loadedUser.email }}</p>
              </ion-label>
            </ion-item>
            <ion-item class="ion-no-padding ion-no-margin" [detail]="false">
              <ion-label class="ion-no-padding ion-no-margin">
                <h2>Country</h2>
                <p>{{ loadedUser.country }}</p>
              </ion-label>
              <ion-button *ngIf="ownProfile" slot="end" id="edit-country">
                <ion-icon name="pencil"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row class="segment-container">
        <ion-col size="12">
          <ion-segment (ionChange)="onFilterUpdate($event)" value="games">
            <ion-segment-button value="games">
              <ion-label>Own games</ion-label>
              <ion-icon name="game-controller-sharp"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="events">
              <ion-label>Upcoming events</ion-label>
              <ion-icon name="calendar"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <ng-container *ngIf="listGames">
        <ng-container *ngIf="gamesAreLoading; else gamesAreNotLoading">
          <ion-row class="fill-item">
            <ion-col class="ion-text-center ion-justify-content-center ion-align-items-center">
              <ion-spinner name="lines-sharp" color="primary"></ion-spinner>
            </ion-col>
          </ion-row>
        </ng-container>
        <ng-template #gamesAreNotLoading>
          <ion-row *ngIf="loadedOwnGames && loadedOwnGames.length > 0; else noGame">
            <ion-col size-xs="12" size-md="6"
                     class="ion-align-items-center ion-justify-content-center"
                     *ngFor="let game of loadedOwnGames">
              <ion-card class="dark-card">
                <div class="background-image-container">
                  <ion-img [src]="game.imgUrl" class="background-image"></ion-img>
                </div>
                <ion-card-header class="ion-no-padding">
                  <ion-item lines="none">
                    <div class="custom-align">
                      <div class="custom-align-item">
                        <ion-card-title class="justify-first">{{ game.name}}</ion-card-title>
                      </div>
                      <div class="custom-align-item justify-second">
                        <ion-buttons slot="end" class="justify-second">
                          <ion-button *ngIf="ownProfile" (click)="editGame(game.id)">
                            <ion-icon name="pencil"></ion-icon>
                          </ion-button>
                          <ion-button *ngIf="ownProfile" (click)="deleteGame(game.id)">
                            <ion-icon name="trash"></ion-icon>
                          </ion-button>
                          <ng-container *ngIf="loggedUser">
                            <ng-container *ngIf="checkIsItFavourite(game.id); else noFavourite">
                              <ion-button (click)="deleteFromFavourites(game.id)">
                                <ion-icon name="heart"></ion-icon>
                              </ion-button>
                            </ng-container>
                            <ng-template #noFavourite>
                              <ion-button (click)="addToFavourites(game.id)">
                                <ion-icon name="heart-outline"></ion-icon>
                              </ion-button>
                            </ng-template>
                          </ng-container>
                          <ion-button>
                            <ion-icon name="share-social"></ion-icon>
                          </ion-button>
                          <ion-button disabled class="whiteDisabled">
                            <ion-icon name="people"></ion-icon>
                          </ion-button>
                          <ion-badge slot="end" color="secondary">{{ game.numberOfAttempts }}</ion-badge>
                        </ion-buttons>
                      </div>
                    </div>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-chip slot="start">{{ game.quiz ? 'Quiz' : 'Learning' }}</ion-chip>
                  </ion-item>
                </ion-card-header>
                <ion-card-content>
                  <ion-list lines="none">
                    <ion-item>
                      <ion-icon name="grid" size="small" class="rigt-padding"></ion-icon>
                      <ion-label>{{ game.category }}</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-icon name="map" size="small" class="rigt-padding"></ion-icon>
                      <ion-label>{{ game.country }}</ion-label>
                    </ion-item>
                  </ion-list>
                  <ion-buttons class="custom-align-2">
                    <ion-button class="green custom-align-item margin-top" fill="solid" size="small" shape="round"
                                [routerLink]="['/', 'games', 'details', game.id]">
                      Details
                      <ion-icon slot="end" name="arrow-forward"></ion-icon>
                    </ion-button>
                    <ion-button *ngIf="loggedUser" class="green custom-align-item margin-top" fill="solid" size="small" shape="round"
                                [routerLink]="['/', 'events', 'create-event']">
                      Create event
                      <ion-icon slot="end" name="arrow-forward"></ion-icon>
                    </ion-button>
                    <ion-button class="green custom-align-item margin-top" fill="solid" size="small" shape="round"
                                [routerLink]="['/', 'game-mode']">
                      Play
                      <ion-icon slot="end" name="arrow-forward"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ng-template #noGame>
            <ion-row class="ion-align-items-center ion-justify-content-center fill-item">
              <ion-col size-xs="12" size-md="6"
                       class="ion-align-items-center ion-justify-content-center">
                <ion-list *ngIf="ownProfile" lines="none" class="ion-align-items-center ion-justify-content-center">
                  <ion-item>
                    <ion-label>Don't have your own game yet?</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-button (click)="createGame()">Create game</ion-button>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </ng-template>
        </ng-template>
      </ng-container>
    </ion-grid>
  </ng-template>
</ion-content>
<ion-modal trigger="edit-country" #modal>
  <ng-template>
    <app-pick-a-thing
      class="ion-page"
      [countries]="countries"
      [selectedCountry]="this.loadedUser.country"
      (selectionChange)="countrySelectionChanged($event)"
      (selectionCancel)="modal.dismiss()"
    ></app-pick-a-thing>
  </ng-template>
</ion-modal>
