<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Edit checkpoints</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="submit()">Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="ion-justify-content-center ion-align-items-center">
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-align-items-center">
        <ion-item class="ion-align-items-center" lines="none">
          <ion-label class="ion-text-center">
            Do you want to create a new team or join an existing one?
          </ion-label>
        </ion-item>
        <ion-segment color="primary" (ionChange)="setJoin($event)" >
          <ion-segment-button [value]="true" [disabled]="!canJoinToATeam">
            <ion-label>Join</ion-label>
          </ion-segment-button>
          <ion-segment-button [value]="false">
            <ion-label>Create</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" *ngIf="join">
      <ion-col class="ion-align-items-center">
        <ion-list lines="none">
          <ion-item class="ion-text-center">
            <ion-label>Teams</ion-label>
          </ion-item>
            <ion-buttons class="brownie ion-justify-content-center">
              <ng-container *ngFor="let team of event.joined">
                <ion-button (click)="setTeam(team.teamName)" color="secondary" size="small" shape="round"
                            [disabled]="team.teamMembers.length === event.liveGameSettings.maxTeamMember">
                  {{ team.teamName }}
                  <ion-icon *ngIf="team.teamMembers.length === event.liveGameSettings.maxTeamMember" slot="end" name="checkmark"></ion-icon>
                </ion-button>
              </ng-container>
            </ion-buttons>
          <ion-item *ngIf="chosenTeam">
            <ion-label>{{ "Chosen team: " + chosenTeam }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" *ngIf="!join">
      <ion-col class="ion-align-items-center">
        <ion-item lines="none">
          <ion-label position="stacked">Name of the team</ion-label>
          <ion-input
            [(ngModel)]="chosenTeam"
            type="text"
            labelPlacement="stacked"
            placeholder="Enter a team name"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

