<form [formGroup]="eventForm" (ngSubmit)="createEvent()">
  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center" size-sm="6">
        <ion-list class="ion-padding" lines="none">
          <ion-item class="ion-align-items-center">
            <ion-label position="stacked">{{ 'EVENTS.EDIT.NAME_OF_EVENT' | translate }} *</ion-label>
            <ion-input
              type="text"
              labelPlacement="stacked"
              [placeholder]="currentLanguage === 'hu' ? 'Add meg az esemény nevét' : 'Enter an event name'"
              formControlName="name"
            ></ion-input>
          </ion-item>
          <ion-item
            class="ion-align-items-center"
            *ngIf="(!eventForm.get('name').valid && eventForm.get('name').touched)"
            lines="none">
            <ion-label color="danger">
              {{ 'EVENTS.EDIT.NAME_IS_REQUIRED' | translate }}
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" *ngIf="canEditGameMode">
      <ion-col class="ion-align-items-center" size-sm="6">
        <ion-datetime [value]="defaultDate"
                      [min]="today"
                      (ionChange)="setDate($event)"
                      class="ion-padding"></ion-datetime>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center" size-sm="6">
        <ion-list class="ion-padding" lines="none">
          <ion-item class="ion-align-items-center">
            <ion-label class="ion-text-center">
              {{ 'EVENTS.EDIT.PICK_IMAGE' | translate }}
            </ion-label>
          </ion-item>
          <app-image-picker (imagePick)="onImagePick($event)"
                            [showPreview]="eventForm.get('imgUrl').value"
                            [previewImage]="eventForm.get('imgUrl').value"></app-image-picker>
          <ion-item class="ion-align-items-center">
            <ion-label position="stacked">{{ 'EVENTS.EDIT.DESCRIPTION' | translate }}</ion-label>
            <ion-textarea label="Description"
                          labelPlacement="stacked"
                          formControlName="description"
                          [placeholder]="currentLanguage === 'hu' ? 'Adj egy leírást az eseményhez' : 'Give a description of the event'">
            </ion-textarea>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" *ngIf="canEditGameMode">
      <ion-col class="ion-text-center ion-padding" size-sm="6">
        <ion-item class="ion-align-items-center" lines="none">
          <ion-label class="ion-text-center">
            {{ 'EVENTS.EDIT.SHARE' | translate }}
          </ion-label>
        </ion-item>
        <ion-segment color="primary" (ionChange)="setPublic($event)" [value]="event ? event.isItPublic : true">
          <ion-segment-button [value]="true">
            <ion-label>{{ 'EVENTS.EDIT.PUBLIC' | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button [value]="false">
            <ion-label>{{ 'EVENTS.EDIT.PRIVATE' | translate }}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" *ngIf="canEditGameMode">
      <ion-col class="ion-text-center ion-padding" size-sm="6">
        <ion-item class="ion-align-items-center" lines="none">
          <ion-label class="ion-text-center">
            {{ 'EVENTS.EDIT.CHOOSE_GAMEMODE' | translate }}
          </ion-label>
        </ion-item>
        <ion-segment color="primary" (ionChange)="setGameMode($event)" [value]="event ? event.liveGameSettings.gameMode : GameMode.notSpecified">
          <ion-segment-button [value]="GameMode.againstEachOther">
            <ion-label>{{ 'GAME_MODE.CREATE_MULTI.AGAINST' | translate }}<br>{{ 'GAME_MODE.CREATE_MULTI.EACH' | translate }}<br>{{ 'GAME_MODE.CREATE_MULTI.OTHER' | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button [value]="GameMode.teamGame">
            <ion-label>{{ 'GAME_MODE.CREATE_MULTI.TEAM' | translate }}<br>{{ 'GAME_MODE.CREATE_MULTI.GAME' | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button [value]="GameMode.teamVsTeam">
            <ion-label>{{ 'GAME_MODE.CREATE_MULTI.TEAM' | translate }}<br>{{ 'GAME_MODE.CREATE_MULTI.VS' | translate }}<br>{{ 'GAME_MODE.CREATE_MULTI.TEAM' | translate }}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" *ngIf="actualGameMode !== GameMode.notSpecified" >
      <ion-col class="ion-text-center" size-sm="6">
        <ion-list class="ion-padding" lines="none" formGroupName="liveGameSettings">
          <ng-container *ngIf="actualGameMode === GameMode.teamVsTeam">
            <ion-item class="ion-align-items-center">
              <ion-label position="stacked">{{ 'GAME_MODE.CREATE_MULTI.NUMBER_OF_TEAMS' | translate }}</ion-label>
              <ion-input
                type="number"
                labelPlacement="stacked"
                [placeholder]="currentLanguage === 'hu' ? 'Add meg a csapatok számát' : 'Enter the number of teams'"
                formControlName="maxTeam"
              ></ion-input>
            </ion-item>
            <ion-item
              class="ion-align-items-center"
              *ngIf="(!eventForm.get('liveGameSettings').get('maxTeam').valid && eventForm.get('liveGameSettings').get('maxTeam').touched)"
              lines="none">
              <ion-label color="danger">
                {{ 'GAME_MODE.CREATE_MULTI.MAX_IS_20' | translate }}
              </ion-label>
            </ion-item>
            <ion-item
              class="ion-align-items-center"
              *ngIf="showWarningMessage(true)"
              lines="none">
              <ion-label color="danger">
                {{ 'GAME_MODE.CREATE_MULTI.HIGHER_THAN_PREVIOUS' | translate }}
              </ion-label>
            </ion-item>
            <ion-item class="ion-align-items-center">
              <ion-label position="stacked">{{ 'GAME_MODE.CREATE_MULTI.NUMBER_OF_TEAM_MEMBERS' | translate }}</ion-label>
              <ion-input
                type="number"
                labelPlacement="stacked"
                [placeholder]="currentLanguage === 'hu' ? 'Add meg egy csapat maximum létszámát' : 'Enter the maximum number of people in a team'"
                formControlName="maxTeamMember"
              ></ion-input>
            </ion-item>
            <ion-item
              class="ion-align-items-center"
              *ngIf="(!eventForm.get('liveGameSettings').get('maxTeamMember').valid && eventForm.get('liveGameSettings').get('maxTeamMember').touched)"
              lines="none">
              <ion-label color="danger">
                {{ 'GAME_MODE.CREATE_MULTI.MAX_IS_20' | translate }}
              </ion-label>
            </ion-item>
            <ion-item
              class="ion-align-items-center"
              *ngIf="showWarningMessage(false)"
              lines="none">
              <ion-label color="danger">
                {{ 'GAME_MODE.CREATE_MULTI.HIGHER_THAN_PREVIOUS' | translate }}
              </ion-label>
            </ion-item>
          </ng-container>
          <ng-container *ngIf="actualGameMode === GameMode.teamGame">
            <ion-item class="ion-align-items-center">
              <ion-label position="stacked">{{ 'GAME_MODE.CREATE_MULTI.NUMBER_OF_MEMBERS' | translate }}</ion-label>
              <ion-input
                type="number"
                labelPlacement="stacked"
                [placeholder]="currentLanguage === 'hu' ? 'Add meg a résztvevők számát' : 'Enter the number of members'"
                formControlName="maxTeam"
              ></ion-input>
            </ion-item>
            <ion-item
              class="ion-align-items-center"
              *ngIf="(!eventForm.get('liveGameSettings').get('maxTeam').valid && eventForm.get('liveGameSettings').get('maxTeam').touched)"
              lines="none">
              <ion-label color="danger">
                {{ 'GAME_MODE.CREATE_MULTI.MAX_IS_20' | translate }}
              </ion-label>
            </ion-item>
            <ion-item
              class="ion-align-items-center"
              *ngIf="showWarningMessage(true)"
              lines="none">
              <ion-label color="danger">
                {{ 'GAME_MODE.CREATE_MULTI.HIGHER_THAN_PREVIOUS' | translate }}
              </ion-label>
            </ion-item>
          </ng-container>
          <ng-container *ngIf="actualGameMode === GameMode.againstEachOther">
            <ion-item class="ion-align-items-center">
              <ion-label position="stacked">{{ 'GAME_MODE.CREATE_MULTI.NUMBER_OF_MEMBERS' | translate }}</ion-label>
              <ion-input
                type="number"
                labelPlacement="stacked"
                [placeholder]="currentLanguage === 'hu' ? 'Add meg a résztvevők számát' : 'Enter the number of members'"
                formControlName="maxTeamMember"
              ></ion-input>
            </ion-item>
            <ion-item
              class="ion-align-items-center"
              *ngIf="(!eventForm.get('liveGameSettings').get('maxTeamMember').valid && eventForm.get('liveGameSettings').get('maxTeamMember').touched)"
              lines="none">
              <ion-label color="danger">
                {{ 'GAME_MODE.CREATE_MULTI.MAX_IS_20' | translate }}
              </ion-label>
            </ion-item>
            <ion-item
              class="ion-align-items-center"
              *ngIf="showWarningMessage(false)"
              lines="none">
              <ion-label color="danger">
                {{ 'GAME_MODE.CREATE_MULTI.HIGHER_THAN_PREVIOUS' | translate }}
              </ion-label>
            </ion-item>
          </ng-container>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center" size-sm="6">
        <ion-button
          class="ion-text-center ion-justify-content-center ion-margin ion-padding border-radius"
          type="submit"
          color="secondary"
          size="large"
          [disabled]="!eventForm.valid || showWarningMessage(true) || showWarningMessage(false)">
          <ion-label>{{ 'EVENTS.EDIT.SAVE_THE_EVENT' | translate }}</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>

