<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/games/create-game"></ion-back-button>
    </ion-buttons>
    <ion-title>Game making</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-checkpoints-editor [center]="center"
                          [locationType]="locationType"
                          [quiz]="quiz"
                          [checkpoints]="checkpoints"
                          (checkpointsDone)="addCheckpointToGame($event)"></app-checkpoints-editor>
</ion-content>
