.custom-button {
  --background: var(--color-connections);
  --color: white;
}

ion-toolbar {
  --background: var(--ion-color-tertiary);
  color: #2b2b2b;
}

ion-badge {
  --background: white;
  --color: var(--color-connections);
  border: 1px solid #da3e52;
}
