<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'CONNECTIONS.CONNECTIONS' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showSettings()">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [debounce]="1000"
                 (ionInput)="filtering($event)"
                 [placeholder]="currentLanguage === 'hu' ? 'Keresés' : 'Search'"></ion-searchbar>
  <ion-list *ngIf="chats">
    <ion-list-header>
      <ion-label>{{ 'CONNECTIONS.CHATS' | translate }}</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let chat of filteredChats">
      <ng-container [ngSwitch]="chat.type">
        <ion-icon *ngSwitchCase="ChatType.personal" name="person-circle-outline" class="ion-padding"></ion-icon>
        <ion-icon *ngSwitchCase="ChatType.group" name="people-circle-outline" class="ion-padding"></ion-icon>
        <ion-icon *ngSwitchCase="ChatType.eventGroup" name="calendar-clear-outline" class="ion-padding"></ion-icon>
      </ng-container>
      <ion-label>{{ getChatName(chat) }}</ion-label>
      <ion-buttons slot="end">
        <ion-button size="small" (click)="deleteChat(chat)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
        <ion-button size="small" [routerLink]="['/', 'connections', 'chat', chat.id]">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" horizontal="end" vertical="bottom" color="tertiary">
    <ion-fab-button (click)="createChat()" color="tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
