ion-toolbar {
  color: #2b2b2b;
  ion-button {
    --background: var(--ion-color-tertiary);
    --color: black;
  }
}

.edit-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.type {
  border: 1px solid #252525;
  border-radius: 20px;
  ion-input {
    width: calc(100% - 40px); /* Adjust the width of the input field */
    margin-right: 10px;
  }
}

.messages-container {
  flex: 1;
  overflow-y: auto;
  margin-top: auto;
}

.right-card {
  --background: #4d5c4d;
  --color: white;
  width: 60%;
  align-self: end;
  min-height: 75px;

  ion-item {
    --color: white;
  }
  ion-button {
    --background: white;
    --color: black;
  }
}

.left-card {
  width: 60%;
  min-height: 75px;

  ion-button {
    --background: white;
    --color: black;
  }
}

.align {
  align-items: center;
}

.shared {
  --background: white;
  --color: black;
}

.right {
  justify-content: end;
}

.left {
  justify-content: start;
}

.row {
  display: flex;
}

.margin {
  margin-right: 1%;
  margin-left: 1%;
}

.label {
  white-space: normal;
  overflow: auto;
}

ion-footer {
  background: white;
  ion-button {
    --background: white;
    ion-icon {
      color: black;
    }
  }
}
