<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/connections/tabs/chats"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ chat ? getChatName() : 'LOADING' | translate }}</ion-title>
    <ion-buttons *ngIf="chat && chat.type !== ChatType.eventGroup" slot="end">
      <ion-button *ngIf="chat.type === ChatType.group"  slot="end" (click)="addNewMember()">
        <ion-icon name="person-add"></ion-icon>
      </ion-button>
      <ion-button slot="end" (click)="settings()">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-infinite-scroll threshold="50px" position="top" (ionInfinite)="loadMoreMessages($event)">
    <ion-infinite-scroll-content [loadingText]="currentLanguage === 'hu' ? 'Üzenetek betöltése' : 'Loading more messages...'">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <div role="feed" *ngIf="chat && chat.message && chat.message.length > 0">
    <div *ngFor="let message of showedMessages" role="article" class="row" [ngClass]="user.id === message.user
        ? (isLink(message.text) ? 'align right' : 'right')
        : (isLink(message.text) ? 'align left' : 'left')">
      <ion-avatar *ngIf="user.id !== message.user" class="ion-margin margin">
        <img alt="Profile picture" [src]="getPicture(message.user)"/>
      </ion-avatar>
      <ion-card *ngIf="!isLink(message.text); else simpleText" [ngClass]="user.id === message.user ? 'right-card' : 'left-card'">
        <ion-card-content class="ion-no-padding">
          <ion-item lines="none">
            <ion-label class="label">{{ message.text }}</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ng-template #simpleText>
        <ion-button (click)="goTo(message.text)" class="shared ion-margin">
          <ion-label>{{ 'CONNECTIONS.GOTO' | translate }}</ion-label>
        </ion-button>
      </ng-template>
      <ion-avatar *ngIf="user.id === message.user" class="ion-margin margin">
        <img alt="Profile picture" [src]="getPicture(message.user)"/>
      </ion-avatar>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-item lines="none" class="ion-margin type">
    <ion-input
      type="text"
      labelPlacement="stacked"
      [placeholder]="currentLanguage === 'hu' ? 'Írj ide ...' : 'Type here ...'"
      #textMessage
    ></ion-input>
    <ion-button (click)="sendMessage(textMessage.value)">
      <ion-icon name="send-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>
