<ion-searchbar [(ngModel)]="filter" ngDefaultControl animated="true" placeholder="Search" ></ion-searchbar>
<ion-list>
  <ion-list-header *ngIf="currentTypeOfListingUsers===typeOfListingUsers.friends">
    <ion-label>Friends</ion-label>
  </ion-list-header>
  <ion-list-header *ngIf="currentTypeOfListingUsers===typeOfListingUsers.chats">
    <ion-label>Chats</ion-label>
  </ion-list-header>
  <ion-item-sliding *ngFor="let element of list | filter: filter">
    <ion-item>
<!--    <ion-item *ngFor="let element of list | filter:filter">-->
      <ng-container [ngSwitch]="currentTypeOfListingUsers">
        <ng-container *ngSwitchCase="typeOfListingUsers.chats">
          <ng-container [ngSwitch]="element.type">
            <ion-icon *ngSwitchCase="chatType.personal" name="person-circle-outline"></ion-icon>
            <ion-icon *ngSwitchCase="chatType.group" name="people-circle-outline"></ion-icon>
            <ion-icon *ngSwitchCase="chatType.eventGroup" name="calendar-clear-outline"></ion-icon>
          </ng-container>
          <ion-label>{{ element.partnerName }}</ion-label>
          <ion-item-options>
            <ion-item-option>
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ng-container>
        <ng-container *ngSwitchCase="typeOfListingUsers.friends">
          <ion-label>{{ element.userName }}</ion-label>
        </ng-container>
        <ng-container *ngSwitchCase="typeOfListingUsers.newFriends">
          <ion-label>{{ element.userName }}</ion-label>
        </ng-container>
      </ng-container>
    </ion-item>
  </ion-item-sliding>
<!--  <ion-item *ngFor="let element of list | filter:filter">-->
<!--    <ng-container [ngSwitch]="currentTypeOfListingUsers">-->
<!--      <ng-container *ngSwitchCase="typeOfListingUsers.chats">-->
<!--        <ion-label>{{ element.partnerName }}</ion-label>-->
<!--        <ng-container [ngSwitch]="element.type">-->
<!--          <ion-icon *ngSwitchCase="chatType.personal" name="person-circle-outline"></ion-icon>-->
<!--          <ion-icon *ngSwitchCase="chatType.group" name="people-circle-outline"></ion-icon>-->
<!--          <ion-icon *ngSwitchCase="chatType.eventGroup" name="calendar-clear-outline"></ion-icon>-->
<!--        </ng-container>-->
<!--      </ng-container>-->
<!--      <ng-container *ngSwitchCase="typeOfListingUsers.friends">-->
<!--        <ion-label>{{ element.userName }}</ion-label>-->
<!--      </ng-container>-->
<!--      <ng-container *ngSwitchCase="typeOfListingUsers.newFriends">-->
<!--        <ion-label>{{ element.userName }}</ion-label>-->
<!--      </ng-container>-->
<!--    </ng-container>-->
<!--  </ion-item>-->
</ion-list>

