ion-toolbar {
  --background: var(--color-event);
  --color: white;

  ion-button {
    --padding-start: 1px;
    --padding-end: 1px;
  }
}

p {
  margin-block-start:  0;
  margin-block-end:  0;
}

.background-image-container {
  align-items: flex-start;
}

h1 {
  color: white;
  text-align: center;
  letter-spacing: 20px;
  text-shadow: 2px 2px 5px var(--color-event);
  font-size: 40px;
  font-weight: 900;
}

.game-img {
  height: 10rem;
}

.img-container {
  background-color: #222428;
}

.brown {
  --background: var(--ion-color-secondary);
  --color: white;
}

ion-icon {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}


