<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/events"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isLoading ? ('LOADING' | translate) : event.name }}</ion-title>
    <ion-buttons slot="end" *ngIf="!isLoading" class="ion-no-margin ion-no-padding">
      <app-saved *ngIf="user" [eventId]="event.id"></app-saved>
      <ion-button *ngIf="user" (click)="shareEvent()">
        <ion-icon name="share-social"></ion-icon>
      </ion-button>
      <ion-button *ngIf="ownEvent" (click)="editEvent(event.id)">
        <ion-icon name="pencil"></ion-icon>
      </ion-button>
      <ion-button *ngIf="ownEvent" (click)="deleteEvent(event.id)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" class="ion-text-center">
    <ion-spinner name="lines-sharp" color="primary"></ion-spinner>
  </div>
  <ion-grid class="ion-no-padding" *ngIf="!isLoading">
    <ion-row class="img-container">
      <ion-col>
        <div *ngIf="!canJoin()" class="background-image-container">
          <h1>{{ 'EVENTS.FULL' | translate }}</h1>
        </div>
        <ion-img class="game-img"
                 [src]="event.imgUrl">
        </ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list lines="none" class="ion-no-padding">
          <ion-item *ngIf="event || creator">
            <ng-container *ngIf="creator">
              <ion-avatar slot="start">
                <img alt="Profile picture" [src]="creator.picture"/>
              </ion-avatar>
              <ion-label>{{ creator.username }}</ion-label>
              <ion-button color="primary" [routerLink]="['/', 'profile', creator.id]">
                <ion-icon name="arrow-forward"></ion-icon>
              </ion-button>
            </ng-container>
            <ng-container *ngIf="event">
              <ion-icon name="people" slot="end"></ion-icon>
              <ion-badge slot="end" color="secondary" class="ion-no-margin">{{ event.players ? event.players.length : 0 }}</ion-badge>
            </ng-container>
          </ion-item>
          <ion-item *ngIf="game || user">
            <ion-chip *ngIf="game" slot="start">{{ game.quiz ? ('GAMES.DETAILS.QUIZ' | translate) : ('GAMES.DETAILS.LEARNING' | translate) }}</ion-chip>
            <ion-chip slot="end" *ngIf="user && event.players.includes(user.id)">{{ 'EVENTS.JOINED' | translate }}</ion-chip>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list lines="none" class="ion-no-padding">
          <ion-item>
            <ion-icon slot="start" name="grid"></ion-icon>
            <ion-label>{{ game.category }}</ion-label>
          </ion-item>
          <ion-item *ngIf="event.liveGameSettings.gameMode" [ngSwitch]="event.liveGameSettings.gameMode">
            <ion-icon slot="start" name="game-controller"></ion-icon>
            <ion-label *ngSwitchCase="GameMode.againstEachOther">{{ 'GAME_MODE.AGAINST_EACH_OTHER' | translate }}</ion-label>
            <ion-label *ngSwitchCase="GameMode.teamGame">{{ 'GAME_MODE.TEAM_GAME' | translate }}</ion-label>
            <ion-label *ngSwitchCase="GameMode.teamVsTeam">{{ 'GAME_MODE.TEAM_VS_TEAM' | translate }}</ion-label>
            <ion-label *ngSwitchCase="GameMode.notSpecified">{{ 'GAME_MODE.NOT_SPECIFIED' | translate }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="calendar-clear"></ion-icon>
            <ion-label>{{ event.date | date:'yyyy. MMM dd.' }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="alarm"></ion-icon>
            <ion-label>{{ event.date | date:'HH:mm' }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="hourglass"></ion-icon>
            <ion-label>{{ game.duration + ' '+ ('GAMES.DETAILS.HOUR' | translate) }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-list lines="none" class="ion-no-padding">
          <ion-item>
            <ion-icon slot="start" name="map"></ion-icon>
            <ion-label *ngIf="game.locationType === LocationType.anywhere; else hasLocation">{{ 'GAMES.DETAILS.ANYWHERE' | translate }}</ion-label>
            <ng-template #hasLocation>
              <ion-label>{{ game.country }}</ion-label>
            </ng-template>
          </ion-item>
          <ion-item *ngIf="game.locationType !== LocationType.anywhere">
            <ion-icon slot="start" name="location-sharp"></ion-icon>
            <ion-label>{{ game.pointOfDeparture.address }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="footsteps"></ion-icon>
            <ion-label>{{ game.distance }} km</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="flag"></ion-icon>
            <ion-label>{{ game.checkpoints.length }} checkpoint</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding" *ngIf="event.description">
      <ion-col class="ion-no-padding">
        <ion-card>
          <ion-card-header>
            <ion-label>{{ 'GAMES.DETAILS.DESCRIPTION' | translate }}</ion-label>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none">
              <ion-label>{{ event.description }}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col size="12" class="ion-no-padding">
          <ion-button color="secondary" fill="solid" size="small" shape="round" (click)="navigateToGame()">
            {{ 'EVENTS.GO_TO_THE_GAME' | translate }}
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-button>
          <ng-container *ngIf="user && user.id">
            <ion-button color="secondary" fill="solid" size="small" shape="round"
                        [disabled]="!canJoin() || canStartEvent()"
                        *ngIf="!event.players.includes(user.id)"
                        (click)="joinEvent()">
              {{ 'EVENTS.JOIN_EVENTS' | translate }}
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </ion-button>
            <ion-button color="secondary" fill="solid" size="small" shape="round"
                        *ngIf="event.players.includes(user.id)"
                        (click)="goToChat()">
              {{ 'EVENTS.CHAT' | translate }}
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </ion-button>
            <ion-button color="secondary" fill="solid" size="small" shape="round"
                        *ngIf="event.players.includes(user.id)"
                        (click)="cancelEvent()">
              {{ 'EVENTS.CANCEL_JOIN' | translate }}
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </ion-button>
            <ion-button color="secondary" fill="solid" size="small" shape="round"
                        *ngIf="user && event.creatorId === user.id"
                        [disabled]="!canStartEvent()"
                        (click)="startEvent()">
              {{ 'EVENTS.START_EVENT' | translate }}
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </ion-button>
          </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
