<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/games"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isLoading ? 'Loading ... ' : game.name }}</ion-title>
    <ion-buttons slot="end" *ngIf="!isLoading" class="ion-no-margin ion-no-padding">
      <app-favourite *ngIf="user" [gameId]="game.id"></app-favourite>
      <ion-button *ngIf="user">
        <ion-icon name="share-social"></ion-icon>
      </ion-button>
      <ion-button *ngIf="ownGame" (click)="editGame(game.id)">
        <ion-icon name="pencil"></ion-icon>
      </ion-button>
      <ion-button *ngIf="ownGame" (click)="deleteGame(game.id)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" class="ion-text-center">
    <ion-spinner name="lines-sharp" color="primary"></ion-spinner>
  </div>
  <ion-grid class="ion-no-padding" *ngIf="!isLoading">
    <ion-row id="img-container">
      <ion-col>
        <ion-img id="game-img"
                 [src]="game.imgUrl">
        </ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list lines="none" class="ion-no-padding">
          <ion-item *ngIf="creator">
            <ion-avatar slot="start">
              <img alt="Profile picture" [src]="creator.picture"/>
            </ion-avatar>
            <ion-label>{{ creator.username }}</ion-label>
            <ion-icon name="people" slot="end"></ion-icon>
            <ion-badge slot="end" color="secondary" class="ion-no-margin">{{ game.numberOfAttempts }}</ion-badge>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="grid"></ion-icon>
            <ion-label>{{ game.category }}</ion-label>
            <ion-chip slot="end">{{ game.quiz ? 'Quiz' : 'Learning' }}</ion-chip>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="map"></ion-icon>
            <ion-label *ngIf="game.locationType === LocationType.anywhere; else hasLocation">Anywhere</ion-label>
            <ng-template #hasLocation>
              <ion-label>{{ game.country }}</ion-label>
            </ng-template>
          </ion-item>
          <ion-item *ngIf="game.locationType !== LocationType.anywhere">
            <ion-icon slot="start" name="location-sharp"></ion-icon>
            <ion-label>{{ game.pointOfDeparture.address }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="footsteps"></ion-icon>
            <ion-label>{{ game.distance }} km</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="hourglass"></ion-icon>
            <ion-label>{{ game.duration }} hour</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="flag"></ion-icon>
            <ion-label>{{ game.checkpoints.length }} checkpoint</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding" *ngIf="game.bests">
      <ion-col class="ion-no-padding">
        <ion-card>
          <ion-card-header>
            <ion-label>Bests</ion-label>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none" *ngIf="game.bests.score && game.quiz">
              <ion-label>{{ 'Score: ' + game.bests.score }}</ion-label>
            </ion-item>
            <ion-item lines="none" *ngIf="game.bests.duration">
              <ion-label>{{ 'Duration: ' + transform(game.bests.duration) }}</ion-label>
            </ion-item>
            <ion-item lines="none" *ngIf="game.bests.checkpointDuration && game.quiz">
              <ion-label>{{ 'Checkpoints duration: ' + transform(game.bests.checkpointDuration) }}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding" *ngIf="game.description">
      <ion-col class="ion-no-padding">
        <ion-card>
          <ion-card-header>
            <ion-label>Description</ion-label>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none">
              <ion-label>{{ game.description }}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding" *ngIf="game.ratings && game.ratings.length > 0">
      <ion-col class="ion-no-padding">
        <ion-card>
          <ion-card-header>
            <ion-item lines="none">
              <ion-label>Ratings</ion-label>
              <ion-badge slot="end">{{ game.ratings.length }}</ion-badge>
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none" *ngFor="let rating of game.ratings">
              <ion-avatar slot="start">
                <img alt="Profile picture" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
              </ion-avatar>
              <ion-label>{{ rating.username + ': ' + rating.text }}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col class="ion-no-padding">
        <ion-buttons class="ion-justify-content-between">
          <ion-button color="secondary" fill="solid" size="small" shape="round" (click)="navigate()">
            Create event
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-button>
          <ion-button *ngIf="game.locationType === LocationType.description" color="secondary" fill="solid" size="small" shape="round" (click)="getPdf()">
            Get Codes
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-button>
          <ion-button color="secondary" fill="solid" size="small" shape="round" (click)="navigateToGameMode()">
            Play
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item [hidden]=true *ngIf="generateQRCode">
    <ng-container *ngFor="let checkpoint of game.checkpoints">
      <qrcode [qrdata]="checkpoint.locationAccessCode" [width]="256" (qrCodeURL)="saveUrl(checkpoint.index, $event)"></qrcode>
    </ng-container>
  </ion-item>
</ion-content>
