p {
  margin-block-start:  0px;
  margin-block-end:  0px;
}

#game-img {
  height: 10rem;
}

#img-container {
  background-color: #222428;
}

ion-toolbar {
  --background: var(--color-games);
  --color: white;
}

.brown {
  --background: var(--ion-color-secondary);
  --color: white;
}

ion-icon {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
